In [313]:
import pandas as pd
from sentence_transformers import SentenceTransformer
import numpy as np

In [314]:
# Inicializar o modelo
#model = SentenceTransformer('all-MiniLM-L6-v2', device='cuda')

In [315]:
model = SentenceTransformer('all-mpnet-base-v2', device='cuda')

In [316]:
def generate_embeddings(query):
    # Inicializar o modelo dentro da função
    embeddings = model.encode(query)
    return embeddings

In [317]:
df = pd.read_excel("dados.xlsx")
df.head()

,LINK,ID da resposta,Data de envio,Última página,Idioma inicial,Semente,Código de Acesso,Data de início,Data da última ação,GENERO,...,ENV1,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10
0,INT,568,2021-06-20 15:00:50,7,pt-BR,1767601499,uB3EaV9IXANbGvm,2021-06-20 14:55:17,2021-06-20 15:00:49,Feminino,...,1,7,1,5,7,5,1,6,7,5
1,EXT,167,2021-05-21 22:10:05,7,pt-BR,1839169195,2021-05-21 21:59:31,2021-05-21 22:10:05,NaN,Feminino,...,3,3,4,1,4,4,4,3,3,3
2,INT,489,2021-06-20 11:19:30,7,pt-BR,258990084,BgKQgz43AnBGl68,2021-06-20 11:13:00,2021-06-20 11:19:30,Feminino,...,7,7,7,7,7,7,7,7,7,7
3,INT,536,2021-06-20 13:19:52,7,pt-BR,1424695604,wDN4DUIbrCgBWaG,2021-06-20 13:05:17,2021-06-20 13:19:52,Feminino,...,1,6,4,5,3,5,5,7,1,7
4,INT,486,2021-06-20 11:07:55,7,pt-BR,667378996,8vgAKmEjIZKMDvf,2021-06-20 11:03:18,2021-06-20 11:07:55,Masculino,...,7,7,7,7,4,7,5,6,7,7

In [318]:
df = df.drop(df.columns[[3,4,5,6]], axis=1)
df.head()

,LINK,ID da resposta,Data de envio,Data de início,Data da última ação,GENERO,IDADE,RENDA,ESCOLARIDADE,COMP/CEL,...,ENV1,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10
0,INT,568,2021-06-20 15:00:50,2021-06-20 14:55:17,2021-06-20 15:00:49,Feminino,30,Acima de 3 e até 5 salários mínimos,Mestrado/Doutorado,Celular,...,1,7,1,5,7,5,1,6,7,5
1,EXT,167,2021-05-21 22:10:05,2021-05-21 22:10:05,NaN,Feminino,35,Acima de 5 e até 10 salários mínimos,Pós-Graduação,Celular,...,3,3,4,1,4,4,4,3,3,3
2,INT,489,2021-06-20 11:19:30,2021-06-20 11:13:00,2021-06-20 11:19:30,Feminino,29,Até 1 salário mínimo,Ensino Superior,Celular,...,7,7,7,7,7,7,7,7,7,7
3,INT,536,2021-06-20 13:19:52,2021-06-20 13:05:17,2021-06-20 13:19:52,Feminino,28,Até 1 salário mínimo,Ensino Médio,Celular,...,1,6,4,5,3,5,5,7,1,7
4,INT,486,2021-06-20 11:07:55,2021-06-20 11:03:18,2021-06-20 11:07:55,Masculino,36,Acima de 3 e até 5 salários mínimos,Ensino Superior,Computador/Notebook,...,7,7,7,7,4,7,5,6,7,7

In [319]:
print(df["GENERO"].head())
print(df[df.columns[17]].isnull().sum())  # Verifique se há valores nulos
df["GENERO"] = df["GENERO"].fillna("Desconhecido")

0     Feminino
1     Feminino
2     Feminino
3     Feminino
4    Masculino
Name: GENERO, dtype: object
79

In [320]:
print(df[df.columns[17]].head())
print(df[df.columns[17]].isnull().sum())  # Verifique se há valores nulos
df[df.columns[17]] = df[df.columns[17]].fillna("Não informado")

0    Coletivo das Artes Motirô
1                Teatro mágico
2                     Cineritz
3                          NaN
4                          NaN
Name: Se você segue algum perfil de espaço cultural no Instagram, por favor, se puder, insira aqui o nome do perfil que considera acompanhar com maior frequência., dtype: object
79

In [321]:
print(df[df.columns[4]].unique())
print(df[df.columns[4]].isnull().sum())  # Verifique se há valores nulos
df[df.columns[4]] = df[df.columns[4]].fillna("sem data")

['2021-06-20 15:00:49' nan '2021-06-20 11:19:30' '2021-06-20 13:19:52'
 '2021-06-20 11:07:55' '2021-06-21 08:02:46' '2021-06-18 16:18:30'
 '2021-04-14 09:49:18' '2021-04-14 09:40:29' '2021-06-19 20:32:54'
 '2021-07-05 12:55:29' '2021-06-18 20:49:01' '2021-06-20 13:55:17'
 '2021-06-19 10:13:23' '2021-06-21 05:20:48' '2021-06-20 23:22:40'
 '2021-06-20 19:49:13' '2021-06-20 00:43:42' '2021-06-19 23:26:26'
 '2021-04-21 21:37:16' '2021-06-20 14:51:38' '2021-06-19 11:40:40'
 '2021-06-20 19:06:38' '2021-06-21 21:00:58' '2021-06-20 15:04:56'
 '2021-06-19 16:57:23' '2021-04-14 16:11:05' '2021-06-20 13:22:44'
 '2021-06-20 15:54:28' '2021-07-13 11:22:29' '2021-04-15 10:59:46'
 '2021-06-21 10:27:22' '2021-06-21 13:26:44' '2021-06-20 18:15:18'
 '2021-06-21 15:21:56' '2021-04-28 14:32:29' '2021-06-21 00:02:26'
 '2021-06-19 11:15:13' '2021-06-20 15:33:02' '2021-06-21 12:51:36'
 '2021-06-19 20:13:45' '2021-06-20 21:52:08' '2021-06-20 12:17:34'
 '2021-06-20 15:19:27' '2021-06-21 09:43:47' '2021-06-20 10:37:42'
 '2021-06-19 09:01:36' '2021-06-19 17:00:24' '2021-04-20 20:19:20'
 '2021-06-21 11:12:50' '2021-06-18 15:31:03' '2021-06-20 09:04:28'
 '2021-06-20 08:38:02' '2021-06-21 07:08:11' '2021-06-20 23:36:16'
 '2021-06-21 09:41:42' '2021-06-20 11:42:49' '2021-06-20 15:59:47'
 '2021-06-20 23:30:38' '2021-06-01 09:55:09' '2021-06-20 21:42:53'
 '2021-06-18 22:00:28' '2021-04-14 22:12:19' '2021-04-15 08:53:51'
 '2021-06-19 10:14:24' '2021-06-23 11:14:36' '2021-06-21 07:37:12'
 '2021-04-13 21:16:17' '2021-06-20 20:07:40' '2021-06-21 10:13:05'
 '2021-06-19 12:27:43' '2021-06-20 14:27:11' '2021-06-21 10:23:17'
 '2021-06-18 14:41:03' '2021-06-20 16:08:48' '2021-06-19 11:00:50'
 '2021-06-21 14:48:31' '2021-06-20 10:32:01' '2021-06-21 10:32:04'
 '2021-06-18 17:21:23' '2021-06-20 19:07:58' '2021-06-19 12:42:13'
 '2021-06-22 22:34:26' '2021-05-13 16:19:45' '2021-06-21 10:47:13'
 '2021-06-19 17:07:48' '2021-06-20 02:06:21' '2021-06-20 10:22:29'
 '2021-06-20 11:42:21' '2021-06-19 12:08:59' '2021-06-20 12:51:14'
 '2021-07-02 10:29:50' '2021-06-19 15:23:39' '2021-06-19 17:03:38'
 '2021-06-20 15:55:32' '2021-04-13 17:28:18' '2021-04-13 16:29:43'
 '2021-06-21 18:06:31' '2021-06-20 20:40:08' '2021-06-20 07:41:55'
 '2021-06-22 10:47:14' '2021-06-21 00:34:34' '2021-06-18 16:40:56'
 '2021-06-20 16:18:02' '2021-04-13 20:52:08' '2021-06-24 08:09:14'
 '2021-06-30 08:35:00' '2021-05-15 09:52:57' '2021-06-23 21:30:08'
 '2021-06-20 18:08:56' '2021-06-19 19:57:18' '2021-06-21 11:51:38'
 '2021-06-21 16:22:24' '2021-06-22 13:13:24' '2021-06-20 11:59:20'
 '2021-06-21 07:55:05' '2021-06-21 20:18:27' '2021-06-21 08:20:46'
 '2021-06-18 16:11:25' '2021-06-20 13:13:16' '2021-06-19 16:37:18'
 '2021-06-18 14:16:43' '2021-06-19 09:57:59' '2021-06-20 10:52:02'
 '2021-06-21 10:55:05' '2021-06-20 12:54:08' '2021-06-23 04:32:42'
 '2021-06-21 07:58:40' '2021-06-18 22:51:42' '2021-06-18 16:57:03'
 '2021-04-14 07:55:36' '2021-06-21 07:27:13' '2021-07-02 09:03:47'
 '2021-06-26 11:33:56' '2021-06-21 01:46:46' '2021-06-20 17:58:47'
 '2021-06-21 08:49:41' '2021-04-13 16:12:42' '2021-07-12 16:38:14'
 '2021-06-23 16:41:57' '2021-04-14 16:29:09' '2021-06-21 16:06:37'
 '2021-04-14 18:41:48' '2021-06-20 17:06:59' '2021-04-16 08:07:30'
 '2021-06-20 13:06:32' '2021-05-20 18:05:34' '2021-06-20 21:09:12'
 '2021-06-22 09:55:18' '2021-06-22 14:40:11' '2021-06-21 09:57:12'
 '2021-06-18 13:44:45' '2021-06-21 13:29:13' '2021-06-21 08:24:51'
 '2021-06-21 23:03:46' '2021-06-20 07:31:31' '2021-06-20 17:46:10'
 '2021-06-20 19:56:52' '2021-06-20 15:28:44' '2021-06-20 18:54:00'
 '2021-06-21 12:58:26' '2021-06-20 06:31:49' '2021-06-18 22:13:49'
 '2021-06-20 19:13:08' '2021-06-19 23:47:53' '2021-06-20 16:01:41'
 '2021-06-20 19:31:09' '2021-06-21 21:40:13' '2021-06-18 18:24:00'
 '2021-04-13 16:17:30' '2021-06-29 12:01:45' '2021-06-21 02:21:34'
 '2021-07-16 16:22:08' '2021-06-18 20:51:26' '2021-06-20 11:34:32'
 '2021-06-21 01:42:06' '2021-04-13 17:51:14' '2021-06-18 12:19:17'
 '2021-06-20 22:01:23' '2021-06-19 17:00:50' '2021-04-18 16:34:43'
 '2021-06-21 17:56:07' '2021-06-21 09:05:30' '2021-04-15 00:39:27'
 '2021-04-13 16:12:11' '2021-06-21 11:08:42' '2021-05-15 15:29:54'
 '2021-06-20 18:34:43' '2021-06-19 15:18:59' '2021-06-20 00:18:52'
 '2021-06-20 12:34:33' '2021-06-19 18:58:29' '2021-06-22 09:42:26'
 '2021-06-21 18:21:47' '2021-06-22 11:30:47' '2021-06-21 20:06:24'
 '2021-06-21 08:10:06' '2021-06-20 16:16:51' '2021-06-21 07:33:52'
 '2021-06-21 09:36:17' '2021-06-22 18:16:13' '2021-05-15 07:43:33'
 '2021-06-21 19:31:23' '2021-06-20 06:53:56' '2021-06-22 09:17:43'
 '2021-06-20 10:10:26' '2021-06-19 10:18:36' '2021-06-28 19:52:26'
 '2021-06-22 09:45:43' '2021-06-21 15:16:52' '2021-06-20 18:57:10'
 '2021-06-19 10:00:03' '2021-06-20 19:28:26' '2021-06-18 14:34:33'
 '2021-06-19 22:24:49' '2021-06-21 05:55:57' '2021-06-20 14:42:51'
 '2021-05-19 10:57:48' '2021-06-22 13:35:21' '2021-06-18 20:31:45'
 '2021-06-20 13:14:45' '2021-04-13 19:37:15' '2021-06-20 13:33:43'
 '2021-06-19 15:52:39' '2021-06-20 09:58:02' '2021-06-27 12:56:49'
 '2021-06-20 15:38:58' '2021-06-19 12:44:22' '2021-06-19 06:23:07'
 '2021-06-20 03:05:23' '2021-05-18 00:47:40' '2021-06-19 16:58:47'
 '2021-06-18 21:04:47' '2021-06-22 14:06:12' '2021-06-20 16:07:20'
 '2021-06-21 10:50:47' '2021-06-19 21:36:56' '2021-06-23 09:07:52'
 '2021-04-29 20:38:57' '2021-07-16 11:06:32' '2021-06-18 19:01:05'
 '2021-06-20 08:46:44' '2021-07-12 13:58:07' '2021-06-20 15:08:09']
72

In [322]:
p = 0
for i in range(df.shape[1]):
    num = df[df.columns[i]].isnull().sum()
    
    if(num != 0):
        print(i)
        p = p + 1
    if pd.api.types.is_numeric_dtype(df[df.columns[i]]):  # Verifica se a coluna é numérica
        print(f"Coluna numérica {i}:")
        df[df.columns[i]] = df[df.columns[i]].astype(str)
print(f"Tem {p} colunas com alguns valores nulos")

Coluna numérica 1:
Coluna numérica 6:
Coluna numérica 18:
Coluna numérica 19:
Coluna numérica 20:
Coluna numérica 21:
Coluna numérica 22:
Coluna numérica 23:
Coluna numérica 24:
Coluna numérica 25:
Coluna numérica 26:
Coluna numérica 27:
Coluna numérica 28:
Coluna numérica 29:
Coluna numérica 30:
Coluna numérica 31:
Coluna numérica 32:
Coluna numérica 33:
Coluna numérica 34:
Coluna numérica 35:
Coluna numérica 36:
Coluna numérica 37:
Coluna numérica 38:
Coluna numérica 39:
Coluna numérica 40:
Coluna numérica 41:
Coluna numérica 42:
Coluna numérica 43:
Coluna numérica 44:
Coluna numérica 45:
Coluna numérica 46:
Coluna numérica 47:
Coluna numérica 48:
Coluna numérica 49:
Coluna numérica 50:
Coluna numérica 51:
Coluna numérica 52:
Coluna numérica 53:
Coluna numérica 54:
Coluna numérica 55:
Coluna numérica 56:
Coluna numérica 57:
Coluna numérica 58:
Coluna numérica 59:
Coluna numérica 60:
Coluna numérica 61:
Coluna numérica 62:
Coluna numérica 63:
Coluna numérica 64:
Coluna numérica 65:
Coluna numérica 66:
Coluna numérica 67:
Coluna numérica 68:
Coluna numérica 69:
Coluna numérica 70:
Tem 0 colunas com alguns valores nulos

In [323]:
df.head()

,LINK,ID da resposta,Data de envio,Data de início,Data da última ação,GENERO,IDADE,RENDA,ESCOLARIDADE,COMP/CEL,...,ENV1,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10
0,INT,568,2021-06-20 15:00:50,2021-06-20 14:55:17,2021-06-20 15:00:49,Feminino,30,Acima de 3 e até 5 salários mínimos,Mestrado/Doutorado,Celular,...,1,7,1,5,7,5,1,6,7,5
1,EXT,167,2021-05-21 22:10:05,2021-05-21 22:10:05,sem data,Feminino,35,Acima de 5 e até 10 salários mínimos,Pós-Graduação,Celular,...,3,3,4,1,4,4,4,3,3,3
2,INT,489,2021-06-20 11:19:30,2021-06-20 11:13:00,2021-06-20 11:19:30,Feminino,29,Até 1 salário mínimo,Ensino Superior,Celular,...,7,7,7,7,7,7,7,7,7,7
3,INT,536,2021-06-20 13:19:52,2021-06-20 13:05:17,2021-06-20 13:19:52,Feminino,28,Até 1 salário mínimo,Ensino Médio,Celular,...,1,6,4,5,3,5,5,7,1,7
4,INT,486,2021-06-20 11:07:55,2021-06-20 11:03:18,2021-06-20 11:07:55,Masculino,36,Acima de 3 e até 5 salários mínimos,Ensino Superior,Computador/Notebook,...,7,7,7,7,4,7,5,6,7,7

In [324]:
# Selecionar automaticamente todas as colunas
columns_embeddings = df.columns

# Concatenar todas as colunas de strings em uma só
df['Text_Embedding'] = df[columns_embeddings].apply(
    lambda row: ', '.join(row.values.astype(str)), axis=1
)

print(df['Text_Embedding'])

0      INT, 568, 2021-06-20 15:00:50, 2021-06-20 14:5...
1      EXT, 167, 2021-05-21 22:10:05, 2021-05-21 22:1...
2      INT, 489, 2021-06-20 11:19:30, 2021-06-20 11:1...
3      INT, 536, 2021-06-20 13:19:52, 2021-06-20 13:0...
4      INT, 486, 2021-06-20 11:07:55, 2021-06-20 11:0...
                             ...
310    INT, 207, 2021-06-18 19:01:05, 2021-06-18 18:5...
311    INT, 452, 2021-06-20 08:46:44, 2021-06-20 08:4...
312    EXT, 138, 2021-05-20 21:27:00, 2021-05-20 21:2...
313    INT, 1053, 2021-07-12 13:58:07, 2021-07-12 13:...
314    INT, 570, 2021-06-20 15:08:09, 2021-06-20 15:0...
Name: Text_Embedding, Length: 315, dtype: object

In [325]:
#for i in range(df.shape[1]):
df['Text_Embedding'] = df['Text_Embedding'].apply(generate_embeddings)

In [326]:
df.head()

,LINK,ID da resposta,Data de envio,Data de início,Data da última ação,GENERO,IDADE,RENDA,ESCOLARIDADE,COMP/CEL,...,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10,Text_Embedding
0,INT,568,2021-06-20 15:00:50,2021-06-20 14:55:17,2021-06-20 15:00:49,Feminino,30,Acima de 3 e até 5 salários mínimos,Mestrado/Doutorado,Celular,...,7,1,5,7,5,1,6,7,5,"[-0.024647718, -0.020997217, -0.054413743, 0.0..."
1,EXT,167,2021-05-21 22:10:05,2021-05-21 22:10:05,sem data,Feminino,35,Acima de 5 e até 10 salários mínimos,Pós-Graduação,Celular,...,3,4,1,4,4,4,3,3,3,"[0.0025199754, -0.027716314, -0.04793156, -0.0..."
2,INT,489,2021-06-20 11:19:30,2021-06-20 11:13:00,2021-06-20 11:19:30,Feminino,29,Até 1 salário mínimo,Ensino Superior,Celular,...,7,7,7,7,7,7,7,7,7,"[-0.025542578, -0.003196782, -0.05655602, 0.02..."
3,INT,536,2021-06-20 13:19:52,2021-06-20 13:05:17,2021-06-20 13:19:52,Feminino,28,Até 1 salário mínimo,Ensino Médio,Celular,...,6,4,5,3,5,5,7,1,7,"[-0.011622569, -0.0017562418, -0.05448546, 0.0..."
4,INT,486,2021-06-20 11:07:55,2021-06-20 11:03:18,2021-06-20 11:07:55,Masculino,36,Acima de 3 e até 5 salários mínimos,Ensino Superior,Computador/Notebook,...,7,7,7,4,7,5,6,7,7,"[-0.020109968, -0.02107203, -0.04842528, 0.045..."

In [327]:
#df["GENERO"] = df["GENERO"].fillna("Desconhecido")
# Generate Embeddings for all the products
#df["IDADE"] = df["IDADE"].astype(str)  # Converte todos os valores para string
#df['Text_Embedding'] = df["IDADE"].apply(generate_embeddings)
#print(generate_embeddings("feminino"))

In [328]:
df['vector_size'] = df['Text_Embedding'].apply(len)
print(df['vector_size'].value_counts())  # Mostra as dimensões mais comuns

vector_size
768    315
Name: count, dtype: int64

In [329]:
df['Text_Embedding'].head()

0    [-0.024647718, -0.020997217, -0.054413743, 0.0...
1    [0.0025199754, -0.027716314, -0.04793156, -0.0...
2    [-0.025542578, -0.003196782, -0.05655602, 0.02...
3    [-0.011622569, -0.0017562418, -0.05448546, 0.0...
4    [-0.020109968, -0.02107203, -0.04842528, 0.045...
Name: Text_Embedding, dtype: object

In [331]:
import faiss                   # make faiss available
ncentroids = 3
niter = 30
verbose = True
d = 768
kmeans = faiss.Kmeans(d, ncentroids, niter=niter, verbose=verbose)
embeddings = np.array(df['Text_Embedding'].to_list(), dtype='float32')
print(embeddings.shape)  # Deve retornar (n_samples, 71)
kmeans.train(embeddings)

(315, 768)
Clustering 315 points in 768D to 3 clusters, redo 1 times, 30 iterations
  Preprocessing in 0.00 s
  Iteration 29 (0.04 s, search 0.02 s): objective=40.5093 imbalance=1.463 nsplit=0

40.50932312011719

In [332]:
D, I = kmeans.index.search(np.array(df['Text_Embedding'].to_list()), 1)

In [333]:
I

array([[1],
       [0],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [1],
       [0],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [1],
       [0],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [0],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [0],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [1],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [0],
       [2],
       [2],
       [2],
       [1],
       [0],
       [1],
       [2],
       [0],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [0],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [1],
       [0],
       [1],
       [2],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [1],
       [2]])