In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("analise.csv")
df.head()

,LINK,ID da resposta,Data de envio,Última página,Idioma inicial,Semente,Código de Acesso,Data de início,Data da última ação,GENERO,...,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10,0
0,INT,568,2021-06-20 15:00:50,7,pt-BR,1767601499,uB3EaV9IXANbGvm,2021-06-20 14:55:17,2021-06-20 15:00:49,Feminino,...,7,1,5,7,5,1,6,7,5,0
1,EXT,167,2021-05-21 22:10:05,7,pt-BR,1839169195,2021-05-21 21:59:31,2021-05-21 22:10:05,,Feminino,...,3,4,1,4,4,4,3,3,3,4
2,INT,489,2021-06-20 11:19:30,7,pt-BR,258990084,BgKQgz43AnBGl68,2021-06-20 11:13:00,2021-06-20 11:19:30,Feminino,...,7,7,7,7,7,7,7,7,7,4
3,INT,536,2021-06-20 13:19:52,7,pt-BR,1424695604,wDN4DUIbrCgBWaG,2021-06-20 13:05:17,2021-06-20 13:19:52,Feminino,...,6,4,5,3,5,5,7,1,7,4
4,INT,486,2021-06-20 11:07:55,7,pt-BR,667378996,8vgAKmEjIZKMDvf,2021-06-20 11:03:18,2021-06-20 11:07:55,Masculino,...,7,7,7,4,7,5,6,7,7,2

In [51]:
filtered_df = df[df.columns[-1]]
filtered_df.value_counts()

0
1    103
4     73
0     51
2     47
3     41
Name: count, dtype: int64

In [52]:
cluster_percent = df[df.columns[-1]].value_counts(normalize=True) * 100
print(cluster_percent)

0
1    32.698413
4    23.174603
0    16.190476
2    14.920635
3    13.015873
Name: proportion, dtype: float64

In [53]:
cluster_0 = df[df[df.columns[-1]] == 0]
cluster_0.describe()

,ID da resposta,Última página,Semente,IDADE,CON1,CON2,CON3,CON4,CON5,CON6,...,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10,0
count,51.000000,51.0,5.100000e+01,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,...,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.0
mean,465.627451,7.0,1.043480e+09,32.686275,4.764706,5.666667,5.568627,4.098039,4.803922,5.294118,...,5.294118,5.274510,4.862745,4.823529,5.509804,4.960784,5.372549,5.235294,5.313725,0.0
std,343.149353,0.0,5.889737e+08,10.797204,1.530859,1.143095,1.220736,1.824882,1.637310,1.269553,...,1.640660,1.744459,1.661561,1.705355,1.361948,1.672851,1.561548,1.594845,1.702823,0.0
min,4.000000,7.0,1.209779e+07,18.000000,1.000000,2.000000,2.000000,1.000000,1.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0
25%,151.500000,7.0,4.789983e+08,23.500000,4.000000,5.000000,5.000000,3.000000,4.000000,4.000000,...,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,5.000000,5.000000,5.000000,0.0
50%,452.000000,7.0,1.101038e+09,32.000000,5.000000,6.000000,6.000000,4.000000,5.000000,5.000000,...,6.000000,6.000000,5.000000,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000,0.0
75%,747.000000,7.0,1.549799e+09,39.000000,6.000000,6.500000,6.500000,6.000000,6.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,7.000000,0.0
max,1057.000000,7.0,2.069488e+09,57.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,0.0

In [54]:
cluster_1 = df[df[df.columns[-1]] == 1]
cluster_1.describe().mean()

ID da resposta     3.883001e+02
Última página      1.812500e+01
Semente            8.748776e+08
IDADE              3.861871e+01
CON1               1.655010e+01
CON2               1.700964e+01
CON3               1.702109e+01
CON4               1.581166e+01
CON5               1.671814e+01
CON6               1.658665e+01
CON7               1.702035e+01
INT1               1.629063e+01
INT2               1.611570e+01
INT3               1.605420e+01
INT4               1.597976e+01
INF1               1.767272e+01
INF2               1.702793e+01
INF3               1.726003e+01
INF4               1.667445e+01
INF5               1.704095e+01
INF6               1.699967e+01
INF7               1.702755e+01
INC1               1.479863e+01
INC2               1.501959e+01
INC3               1.477222e+01
INC4               1.530388e+01
ENG1               1.611569e+01
ENG2               1.595929e+01
ENG3               1.687792e+01
ENG4               1.698880e+01
ENG5               1.695510e+01
ENG6               1.713826e+01
ENG7               1.699475e+01
ENG8               1.605431e+01
ENG9               1.691598e+01
ENG10              1.659540e+01
ENT1               1.700166e+01
ENT2               1.686035e+01
ENT3               1.673611e+01
ENT4               1.703206e+01
COM1               1.610681e+01
COM2               1.703163e+01
COM3               1.625895e+01
CONF1              1.766695e+01
CONF2              1.657935e+01
CONF3              1.767580e+01
CONF4              1.774173e+01
ENV1               1.784715e+01
ENV2               1.737420e+01
ENV3               1.778257e+01
ENV4               1.712970e+01
ENV5               1.745249e+01
ENV6               1.717043e+01
ENV7               1.765165e+01
ENV8               1.765854e+01
ENV9               1.729688e+01
ENV10              1.766246e+01
0                  1.362500e+01
dtype: float64

In [62]:
#cluster_1 = cluster_1.reset_index(drop=True)
row_mean = cluster_1.loc[22, 'ENV1 ':'ENV3 '].mean()
print(row_mean)

7.0

In [58]:
cluster_2 = df[df[df.columns[-1]] == 2]
cluster_2.describe()

,ID da resposta,Última página,Semente,IDADE,CON1,CON2,CON3,CON4,CON5,CON6,...,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10,0
count,47.000000,47.0,4.700000e+01,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,...,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.0
mean,535.000000,7.0,1.186436e+09,33.255319,3.085106,3.957447,3.638298,2.510638,3.234043,3.638298,...,4.382979,4.510638,4.042553,3.872340,4.425532,3.914894,4.276596,4.319149,4.382979,2.0
std,306.845167,0.0,7.044380e+08,11.533445,1.442067,1.531658,1.647469,1.396772,1.386468,1.389800,...,1.688235,1.653354,1.178751,1.134767,1.528635,1.442067,1.556224,1.505156,1.525909,0.0
min,7.000000,7.0,1.605851e+07,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.0
25%,262.500000,7.0,5.720390e+08,22.500000,2.000000,3.000000,2.000000,1.000000,2.000000,3.000000,...,3.500000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,2.0
50%,569.000000,7.0,1.257488e+09,33.000000,3.000000,4.000000,4.000000,2.000000,4.000000,4.000000,...,4.000000,5.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,2.0
75%,783.000000,7.0,1.829229e+09,41.500000,4.000000,5.000000,5.000000,4.000000,4.000000,4.500000,...,6.000000,6.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.500000,2.0
max,1012.000000,7.0,2.142669e+09,63.000000,6.000000,7.000000,7.000000,6.000000,6.000000,7.000000,...,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,2.0

In [57]:
cluster_3 = df[df[df.columns[-1]] == 3]
cluster_3.describe()

,ID da resposta,Última página,Semente,IDADE,CON1,CON2,CON3,CON4,CON5,CON6,...,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10,0
count,41.000000,41.0,4.100000e+01,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,...,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.0
mean,448.926829,7.0,9.850604e+08,31.219512,3.317073,5.146341,4.268293,1.902439,3.512195,3.609756,...,6.390244,6.439024,4.829268,5.219512,5.804878,5.731707,6.390244,5.609756,6.463415,3.0
std,339.296065,0.0,6.730617e+08,9.480275,1.664918,1.295395,1.923855,1.200102,1.790558,1.715780,...,0.918642,0.776169,1.656841,1.235156,1.054028,1.225243,0.702782,1.412056,0.777739,0.0
min,4.000000,7.0,2.357241e+07,17.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,3.000000,4.000000,1.000000,2.000000,4.000000,1.000000,5.000000,1.000000,4.000000,3.0
25%,113.000000,7.0,3.782072e+08,24.000000,2.000000,5.000000,3.000000,1.000000,2.000000,2.000000,...,6.000000,6.000000,4.000000,4.000000,5.000000,5.000000,6.000000,5.000000,6.000000,3.0
50%,466.000000,7.0,8.631989e+08,31.000000,3.000000,5.000000,5.000000,1.000000,4.000000,4.000000,...,7.000000,7.000000,5.000000,5.000000,6.000000,6.000000,7.000000,6.000000,7.000000,3.0
75%,696.000000,7.0,1.715792e+09,38.000000,4.000000,6.000000,6.000000,3.000000,5.000000,5.000000,...,7.000000,7.000000,6.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,3.0
max,1056.000000,7.0,2.097483e+09,55.000000,7.000000,7.000000,7.000000,5.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,3.0

In [64]:
cluster_4 = df[df[df.columns[-1]] == 4]
cluster_4.describe()

,ID da resposta,Última página,Semente,IDADE,CON1,CON2,CON3,CON4,CON5,CON6,...,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10,0
count,73.000000,73.0,7.300000e+01,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,...,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.0
mean,397.821918,7.0,1.001122e+09,33.438356,2.287671,4.068493,3.136986,1.575342,2.246575,2.753425,...,4.849315,5.082192,4.041096,4.150685,4.739726,4.589041,4.945205,4.534247,5.328767,4.0
std,319.070148,0.0,5.906008e+08,9.912095,1.358916,1.835822,1.726550,1.091861,1.479309,1.497969,...,1.613065,1.497715,1.813823,1.243553,1.424268,1.362551,1.300538,1.415021,1.302293,0.0
min,8.000000,7.0,4.701151e+07,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.0
25%,136.000000,7.0,4.747411e+08,27.000000,1.000000,3.000000,2.000000,1.000000,1.000000,2.000000,...,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.0
50%,299.000000,7.0,1.049811e+09,34.000000,2.000000,4.000000,3.000000,1.000000,2.000000,3.000000,...,5.000000,5.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.0
75%,654.000000,7.0,1.424992e+09,40.000000,3.000000,5.000000,4.000000,2.000000,3.000000,4.000000,...,6.000000,6.000000,5.000000,5.000000,6.000000,5.000000,6.000000,5.000000,6.000000,4.0
max,1054.000000,7.0,2.129011e+09,59.000000,7.000000,7.000000,7.000000,7.000000,6.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,4.0