In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("anavet/res.csv")
df.head()

,LINK,ID da resposta,Data de envio,Última página,Idioma inicial,Semente,Código de Acesso,Data de início,Data da última ação,GENERO,...,ENV2,ENV3,ENV4,ENV5,ENV6,ENV7,ENV8,ENV9,ENV10,0
0,INT,568,2021-06-20 15:00:50,7,pt-BR,1767601499,uB3EaV9IXANbGvm,2021-06-20 14:55:17,2021-06-20 15:00:49,Feminino,...,7,1,5,7,5,1,6,7,5,14
1,EXT,167,2021-05-21 22:10:05,7,pt-BR,1839169195,2021-05-21 21:59:31,2021-05-21 22:10:05,,Feminino,...,3,4,1,4,4,4,3,3,3,8
2,INT,489,2021-06-20 11:19:30,7,pt-BR,258990084,BgKQgz43AnBGl68,2021-06-20 11:13:00,2021-06-20 11:19:30,Feminino,...,7,7,7,7,7,7,7,7,7,4
3,INT,536,2021-06-20 13:19:52,7,pt-BR,1424695604,wDN4DUIbrCgBWaG,2021-06-20 13:05:17,2021-06-20 13:19:52,Feminino,...,6,4,5,3,5,5,7,1,7,8
4,INT,486,2021-06-20 11:07:55,7,pt-BR,667378996,8vgAKmEjIZKMDvf,2021-06-20 11:03:18,2021-06-20 11:07:55,Masculino,...,7,7,7,4,7,5,6,7,7,3

In [26]:
filtered_df = df[df.columns[-1]]
filtered_df.describe()

count    315.000000
mean       6.888889
std        5.448400
min        0.000000
25%        2.000000
50%        6.000000
75%       11.000000
max       17.000000
Name:  0, dtype: float64

In [ ]:
clustered_data = df[df[df.columns[-1]] == 0].iloc[:, -1]
clustered_data.describe()

count    50.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name:  0, dtype: float64

In [39]:
cluster_counts = df[df.columns[-1]]
print(cluster_counts.describe())

count    315.000000
mean       6.888889
std        5.448400
min        0.000000
25%        2.000000
50%        6.000000
75%       11.000000
max       17.000000
Name:  0, dtype: float64

In [37]:
cluster_percent = df[df.columns[-1]].value_counts(normalize=True) * 100
print(cluster_percent)

 0
0     15.873016
8      8.571429
4      8.253968
2      7.936508
3      6.984127
17     6.349206
11     5.396825
15     4.761905
1      4.444444
12     4.126984
9      4.126984
6      4.126984
10     3.809524
5      3.809524
13     3.492063
7      3.174603
14     2.539683
16     2.222222
Name: proportion, dtype: float64

In [43]:
cluster_0 = df[df[df.columns[-1]] == 0]
print(cluster_0.head())

     LINK   ID da resposta   Data de envio         Última página   \
66   INT                757  2021-06-21 07:08:11                7
86   EXT                191  2021-05-24 16:16:58                7
116  INT                288  2021-06-19 12:08:59                7
117  INT                527  2021-06-20 12:51:14                7
119  EXT                 64  2021-05-14 17:50:53                7

     Idioma inicial   Semente      Código de Acesso      Data de início        \
66   pt-BR             1232572391  WFxmOLwQxaw8cnt       2021-06-21 06:58:00
86   pt-BR               27937554  2021-05-24 16:11:21   2021-05-24 16:16:58
116  pt-BR             2115139298  Y8lNspShBeHtTVo       2021-06-19 11:50:18
117  pt-BR             1739692955  APIUQYPYN9TDusS       2021-06-20 12:44:47
119  pt-BR               95358600  2021-05-14 17:37:11   2021-05-14 17:50:53

     Data da última ação   GENERO      ...  ENV2  ENV3  ENV4  ENV5  ENV6   \
66   2021-06-21 07:08:11   Feminino    ...      6     6     6     6     6
86                         Feminino    ...      6     7     5     4     5
116  2021-06-19 12:08:59   Masculino   ...      7     7     5     6     6
117  2021-06-20 12:51:14               ...      7     7     5     7     6
119                                    ...      7     7     7     7     6

    ENV7  ENV8  ENV9  ENV10   0
66      5     6     6      6  0
86      6     7     5      5  0
116     5     7     6      6  0
117     6     6     7      6  0
119     6     4     6      7  0

[5 rows x 76 columns]